<div class="borderStyle" >
  <div class="datePicker">
    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Дата с" [formControl]="date">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="Дата по"
             [formControl]="date2">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <button (click)="addDate()" mat-raised-button>Фильтровать</button>
  </div>

  <!--Table-->
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="date" matSortDirection="asc">

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата</th>
        <td mat-cell *matCellDef="let row"> {{row.date}} </td>
      </ng-container>

      <!-- USD Column -->
      <ng-container matColumnDef="usd">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>USD</th>
        <td mat-cell *matCellDef="let row"> {{row.usd}} </td>
      </ng-container>

      <!-- EUR Column -->
      <ng-container matColumnDef="eur">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>EUR</th>
        <td mat-cell *matCellDef="let row"> {{row.eur}} </td>
      </ng-container>

      <!-- GBP Column -->
      <ng-container matColumnDef="gbp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>GBP</th>
        <td mat-cell *matCellDef="let row"> {{row.gbp}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
