.borderStyle {
  box-shadow: 3px 2px 3px #ededed;
  border-radius: 3px;
  border: 1px solid #efefef;
  margin: 0 auto;
  width: 700px;
}
.datePicker {
  text-align: center;
  padding-top: 15px;
}
::ng-deep .mat-raised-button {
  margin-left: 15px;
}
::ng-deep .mat-form-field {
  margin-right: 15px;
}
table {
  width: 100%;
}
